<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Prerequisite_OOPS_SEPT10_2018/src/Earth1.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Earth1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Prerequisite_OOPS_SEPT10_2018"/>
</launchConfiguration>
